
.jumbotron {
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    /*#FFF5EE;*/
    border-radius: 0.3rem;
}

.jumbotron-carousel {
    /* padding: 1rem 1rem 1rem 1rem; */
    margin-bottom: 2rem;
    background-color: #ffffff;
    /*#FFF5EE;*/
    border-radius: 0.3rem;
}
.jumbotronImg {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

