{% extends "framework.html" %}
{% block content %}
        <div class="row clearfix">
            <div class="col-md-2 column">
                <h3 class="text-primary text-center">
                    <strong>图书管理</strong>
                </h3>
                <ul class="nav flex-colomn nav-fill nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.index') }}">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('admin.issue') }}">图书入库</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.query') }}">图书查询</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.borrow') }}">借书</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.book_return') }}">还书</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.addcard') }}">借书证管理</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 column">
                <div class="container">
                    <h4 class="text-primary">
                        <svg class="bi bi-file-earmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
                            <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                        </svg>
                        <strong>图书入库</strong>
                    </h4>
                    <p>请填写图书信息，点击添加后即可添加至数据库</p>
                </div>
                <div class="dropdown-divider"></div>
                <!--
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">疫情管控</a></li>
                        <li class="breadcrumb-item"><a href="#">同乘自查</a></li>
                        <li class="breadcrumb-item active" aria-current="page">高危班次发布</li>
                    </ol>
                </nav>-->
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="serialNumber">书号</label>
                        <input type="text" class="form-control" name="number" id="serialNumber" placeholder="书号" required>
                    </div>
                    <label for="radio1">图书类别</label>
                    <div class="form-group" id="radio1">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="booktype" id="flightRadio" value="社会科学" required>
                        <label class="form-check-label" for="flightRadio">社会科学</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="booktype" id="trainRadio" value="自然科学" required>
                        <label class="form-check-label" for="trainRadio">自然科学</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="serialNumber">书名</label>
                    <input type="text" class="form-control" name="bookname" id="startLocation" required>
                </div>
                <div class="form-group">
                    <label for="serialNumber">出版社</label>
                    <input type="text" class="form-control" name="publisher" id="destination" required>
                </div>
                <div class="form-group">
                    <label for="flightDate">年份</label>
                    <input type="number" name="year" class="form-control" id="flightDate" required>
                </div>
                    <div class="form-group">
                    <label for="flightDate">作者</label>
                    <input name="author" class="form-control" id="flightDate" required>
                </div>
                    <div class="form-group">
                    <label for="flightDate">价格</label>
                    <input type="number" name="price" class="form-control" step="0.1" id="flightDate" required>
                </div>
                    <div class="form-group">
                    <label for="flightDate">数量</label>
                    <input type="number" name="quantity" class="form-control" id="flightDate" required>
                </div>
                <button type="submit" class="btn btn-fresh">添加</button>
            </form>
            </div>
        </div>
{% endblock %}